.footer-widget-wrapper {
    background: url(../../assets/img/footer/footer-bg.png) no-repeat center center;
    background-size: cover;
    max-width: 1762px;
    border-radius: 30px;
    margin: 0 auto;
}

 .socal-icon {
    display: flex;
    gap: 6px;
    align-items: center;
    a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 30px;
        display: inline-block;
        text-align: center;
        transition: all 0.5s;
        &:hover {
            color: $white;
        }
    }
    &.style1{
        a{
            border: 1px solid rgba(255, 255, 255, 0.10);
            color: $white;
            &:hover{
                background: $theme-color;
                color: $theme-color4;
            }
        }
    }
}

.footer-logo{
    max-width: 180px;
    img{
        width: 100%;    
    }
}
.footer-header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    padding: 80px 0 50px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    padding: 39px 0;
    .footer-list {
        @include flex;
        gap: 9px 32px;

        li {
            font-size: 18px;

            a {
                color: $white;
                transition: all 0.5s;
                i{
                    transition: all 0.4s;
                }
                &:hover {
                    i{
                        transform: rotate(0);
                    }
                    color: $theme-color;
                }
            }
        }
    }
}

.footer-middle{
    padding: 64px 0;
}

.rot180{
    transform: rotate(-38deg);
}